<!-- {% extends 'core/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-body p-4">

                <div class="text-center mb-4">
                    <h3 class="fw-bold">Welcome 👋</h3>
                    <p class="text-muted">Login to access your student resources</p>
                </div>

                <form method="post">
                    {% csrf_token %}

                    
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Username</label>
                        <input type="text" name="username" class="form-control form-control-m"
                               placeholder="Enter your username" required>
                    </div>

                   
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Password</label>
                        <input type="password" name="password" class="form-control form-control-m"
                               placeholder="Enter your password" required>
                    </div>

                    
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        Invalid username or password. Please try again.
                    </div>
                    {% endif %}

                   
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </button>
                    </div>

                    
                    <div class="text-center mt-3">
                        <small class="text-muted">
                            Don't have an account?
                            <a href="{% url 'register' %}" class="text-decoration-none">Register</a>
                        </small>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
</div>
{% endblock %} -->
