<footer style="position: relative; z-index: 2; background: rgba(255, 255, 255, 0.5);" class="text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Student Resource Portal</h5>
                <p>
                    Your one-stop destination for notes, assignments, programs, and tutorials.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="{% url 'home' %}" class="text-dark">Home</a></li>
                    <li><a href="{% url 'notes' %}" class="text-dark">Notes</a></li>
                    <li><a href="{% url 'assignments' %}" class="text-dark">Assignments</a></li>
                    <li><a href="{% url 'programs' %}" class="text-dark">Programs</a></li>
                    <li><a href="{% url 'tutorials' %}" class="text-dark">Tutorials</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#" class="text-dark"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="text-dark"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.1);">
        © 2026 Student Resource Portal. All rights reserved.
    </div>
</footer>